<div class="mat-elevation-z8">

	<mat-card class="emails-card email-wrapper">
	  <mat-card-header>
		<mat-card-title>Email Manager</mat-card-title>
		<mat-card-subtitle>
		<input matInput placeholder="Search" 
		value=""
		type="search"
		[(ngModel)]="search"
		(ngModelChange)="applySearch()">
		<input matInput placeholder="From" 
		value=""
		[(ngModel)]="from"
		(ngModelChange)="applySearch()">
		<input matInput placeholder="To" 
		value=""
		[(ngModel)]="to"
		(ngModelChange)="applySearch()">
		</mat-card-subtitle>
	  </mat-card-header>
	  <mat-card-content>
		<table mat-table class="emails" [dataSource]="dataSource" >
		 <!-- Name Column -->
	  <ng-container matColumnDef="emailContent">
		<th mat-header-cell *matHeaderCellDef> Emails </th>
			<td mat-cell class="email" *matCellDef="let email">
				{{email.from}}
				<span class="subject-content" [innerHTML]="email.subject | highlightPipe: search">
				</span>
				<span class="body-content" [innerHTML]="email.body | highlightPipe: search">
				</span>
			</td>
	  </ng-container>
			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		  <tr mat-row *matRowDef="let email; columns: displayedColumns;"
			  class="email-row"
			  (click)="onEmailSelection(email)">
		  </tr>
		</table>
		<mat-paginator [pageSize]="10"
			[pageSizeOptions]="[5, 10, 20]" 
			showFirstLastButtons></mat-paginator>
	  </mat-card-content>
	</mat-card>
</div>