<div class="email-info">

	<mat-card class="email-card">
	  <mat-card-header>
		<mat-card-title>Email Info</mat-card-title>
		<mat-card-subtitle>From:   {{ data.email.from }}</mat-card-subtitle>
		<mat-card-subtitle>To:   {{ data.email.to.join("; ") }}</mat-card-subtitle>
		<mat-card-subtitle class="subject" [innerHTML]="data.email.subject | highlightPipe: data.search"></mat-card-subtitle>
	  </mat-card-header>
	  <mat-card-content [innerHTML]="data.email.body | highlightPipe: data.search">
	  </mat-card-content>
	</mat-card>
	
</div>

